.hospitals-section {
  max-width: 1400px;
  margin: 120px auto;
  padding: 0 50px;
}

.hospital-title {
  text-align: center;
  margin-bottom: 60px;
}

.hospital-title span {
  color: #14b8a6;
  font-weight: 700;
  letter-spacing: 2px;
}

.hospital-title h2 {
  font-size: 52px;
  color: #081028;
  margin: 15px 0;
}

.hospital-title p {
  color: #64748b;
  font-size: 18px;
}

.hospital-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.hospital-card {
  background: white;

  border-radius: 24px;

  overflow: hidden;

  box-shadow:
    0 10px 30px rgba(0,0,0,.08);

  transition: .3s ease;
}

.hospital-card:hover {
  transform: translateY(-10px);
  
  box-shadow:
    0 20px 50px rgba(20,184,166,.15);
}

.hospital-card img {
  width: 100%;
  height: 240px;

  object-fit: cover;
}

.hospital-content {
  padding: 25px;
}

.rating {
  display: inline-block;

  padding: 8px 14px;

  border-radius: 50px;

  background: rgba(20,184,166,.1);

  color: #14b8a6;

  font-weight: 600;

  margin-bottom: 15px;
}

.hospital-content h3 {
  font-size: 28px;
  color: #081028;

  margin-bottom: 10px;
}

.hospital-content p {
  color: #64748b;

  margin-bottom: 20px;
}

.hospital-content button {
 padding: 25px 105px;
  border: none;
  border-radius: 10px;
  background: #14b8a6;
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
}
.hospital-content button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #00aea9;
  transition: width 0.3s ease;
  z-index: -1;
}

.hospital-content button:hover::before {
  width: 100%;
}

.hospital-content button:hover {
  transform: translateY(-1px);
  background-color: #009c8a;
}
